<div class="container">
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container container-style">
        <!-- menu navbar-toggle collapsed for smartphone -->
        <div class="navbar-header visible-xs">
          <button type="button" class="navbar-toggle collapsed" data-toggle="modal" data-target="#nav-modal" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- navbar for dekstop -->
        <div class="row col-sm-10 col-sm-offset-1 hidden-xs">
          <ul class="nav navbar-nav ">
            <li><a href="#1">LE COTÉ LUMINEUX</a></li>
            <li><a href="#2">LE COTÉ OBSCUR</a></li>
            <li><a href="#3">L'EMPIRE</a></li>
            <li><a href="#4">LES DROÏDES</a></li>
            <li><a href="#5">LES EWOKS</a></li>
            <li><a href="#6">JABBA LE HUIT</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class=" row col-sm-12">
      <img src="/assets/header.png" width="100%" height="100%" />
    </div>
    <!-- Modal -->
    <div class="modal fade" id="nav-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-nav-content">
          <div>
            <div class="container">
              <div class="row">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <ul>
                <li><a href="#1">LE COTÉ LUMINEUX</a></li>
                <li><a href="#2">LE COTÉ OBSCUR</a></li>
                <li><a href="#3">L'EMPIRE</a></li>
                <li><a href="#4">LES DROÏDES</a></li>
                <li><a href="#5">LES EWOKS</a></li>
                <li><a href="#6">JABBA LE HUIT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>