@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';

.navbar-header {
  @media (min-width: $screen-sm-min) {
    width: 100%;
  }
  min-width: 300px;
  width: 100%;
}
  ul {
    list-style: none;
    margin: 0;
    li {
        a {
            //font-size: 18px;
            font-weight: bold;
            color: #FFFFFF;
        }
    }
  }
  /* avbar-toggle position on right */
  .navbar{
    background:transparent;
    background-color:transparent;
    border-color:transparent;
  }
  .navbar.trans {
    background:rgba(20, 19, 19, 0.80) !important;  
  }
  .navbar-toggle {
    float: right !important;
    margin-left: 15px;
    margin-right: 0px;
    background-color: transparent;
  }
  .modal-nav-content {
    width: 100%;
    height: auto;
  }
  
  .modal-nav-body {
    margin-top: 0px; 
  }
  
  .modal-nav-body ul {
    list-style-type: none;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .modal-nav-body ul li {
    text-align: center;
    font-size: 130%;
    padding: 8px;
    text-transform: uppercase;
  }
  .modal-nav-body ul li > a {
      color: #FFFFFF;
    }

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: left;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    filter: alpha(opacity=20);
}
.navbar-default .navbar-toggle {
  border-color:transparent;
}