@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';

img {
    vertical-align: none;
}
.footer-text-style {
    @media (min-width: $screen-sm-min) {
        position: absolute;
        bottom: 200px; 
      }
        
    position: absolute;
    bottom: 0px; 
    left: 0px;
}

ul {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0px;
    li {
        a {
            @media (min-width: $screen-sm-min) {
                font-size: 18px;
                color: #FFFFFF;
                opacity: 0.5; 
                text-decoration: underline;
                margin: 0 0 20px 0;
                line-height: 200%;
              }
            font-size: 10px;
            color: #FFFFFF;
            opacity: 0.5; 
            text-decoration: underline;
            margin: 0 ;
            line-height: 70%;
            
        }
    }
}

div .text-style {
    @media (min-width: $screen-sm-min) {
        font-size: 21px;
        font-weight: bold;
        color: #FFFFFF;
        margin-bottom: 50px;
      }
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.link-title {
    @media (min-width: $screen-sm-min) {
        font-size: 18px;
        color: #FFFFFF;
        opacity: 0.5;
        line-height: 200%;
      }
    font-size: 10px;
    color: #FFFFFF;
    opacity: 0.5;
    line-height:70%;
  
}

p {
    @media (min-width: $screen-sm-min) {
        margin: 100px 0 100px 0;
      }
    margin:0;
}