<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img src="/assets/stormtroopers.jpg" width="100%" height="100%">
    </div>
    <div class="col-sm-12">
      <img src="/assets/darthvader_2x.jpg" width="100%" height="100%">
    </div>

  </div>
  <!-- Footer-->
  <div class="row">
    <div class="col-sm-12">
      <footer id="background-footer">
        <div class="container text-center footer-text-style"style="margin-top:-50px">
          <!-- Mentions légales -->
          <div class="row hidden-xs text-style" >
            <p>TM Lucasfilm <span style="opacity:0.5">Ltd. All Rights Reserved.</span></p>
          </div>
          <!-- Liens -->
          <div class="row"> 
            <div class="col-sm-4 col-xs-6">
              <ul >
                <li >
                  <a href="#"> Terms of Use</a>
                </li>
                <li >
                  <a href="#">Legal Notices</a>
                </li>
                <li >
                  <a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 col-xs-6">
              <ul >
                <li>
                  <a href="#"> Your California Privacy Rights</a>
                </li>
                <li>
                  <a href="#">Star Wars at Disney Store</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <!-- Réseaux sociaux -->
            <div class="col-sm-4 col-xs-12">
                <span class="link-title">FOLLOW STAR WARS</span>
              <ul class="list-inline">
               
                <li class="list-inline-item">
                  <img src="/assets/icon_facebook.png">
                </li>
                <li class="list-inline-item">
                  <img src="/assets/icon_twitter.png">
                </li>
                <li class="list-inline-item">
                  <img src="/assets/icon_instagram.png">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<nav>
