@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';

 .text-style {
    @media (min-width: $screen-sm-min) {
      font-size: 26px;
    }
    font-size: 14px;
  }
  .img-style {
    @media (min-width: $screen-sm-min) {
      width: 100%;
      height: 100%;
    }
    min-width: 300px;
    width: 100%;
  }
  .img-resize {
    max-width: 120px;
    //margin-right:20px;
    transform: scale(0.3, 0.6);
    -ms-transform: scale(0.3, 0.6);
    -webkit-transform: scale(0.3, 0.6);
    -moz-transform: scale(0.3, 0.6);
  }
h1 {
  @media (min-width: $screen-sm-min) {
    line-height: 200%;
    font-size:36px;
  }
  font-size:18px;
  line-height: 140%;
}

.content {
  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
  }
  margin-top:25px;
}
