<app-header></app-header>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1> <strong> Star Wars, The Force Awakens</strong></h1>
        <p class="text-style">
          Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance
          rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ».
        </p><br />
        <p class="text-style"> Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à
          travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku,
          va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
        </p><br />
        <p class="text-style"> Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres
          de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du
          « Premier Ordre ». </p><br />
        <p class="text-style">Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à
          travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku,
          va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie. </p><br />
        <p class="text-style">Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres
          de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du
          « Premier Ordre ». </p><br />
        <p class="text-style">Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à
          travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku,
          va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie. </p><br />
      </div>
      <div class="col-sm-6  hidden-xs" width="100%" height="100%">
        <img src="/assets/ad.jpg">
      </div>
      <div class="col-sm-12 hidden-xs" width="100%" height="100%">
        <img src="/assets/kiloren.png">
      </div>
      <div class="col-sm-6 visible-xs img-resize" height="100">
        <img src="/assets/kiloren.png">
      </div>
      <div class="col-sm-12 text-center">
        <h1><strong>A long time ago, in a galaxy far, far away… </strong></h1>
      </div>
      <div class="col-sm-4 " width="100%" height="100%">
        <img src="/assets/r2d2_c3p0.jpg">
      </div>
      <div class="col-sm-8">
        <p class="text-style">
          La Guerre des étoiles (titre original Star Wars, soit littéralement Guerres Stellaires ) est une épopée cinématographique
          de science-fiction créée par George Lucas, considérée comme un élément phare du space opera. Prévue à la base pour
          être une suite de trois trilogies (triptyque), Lucas fut contraint, par manque de moyens techniques, de commencer
          par la seconde trilogie (l'Épisode IV - Un nouvel espoir) en 1977. La série connut un succès phénoménal partout
          dans le monde et engendra une très importante communauté de fans.</p> <br />
        <p class="text-style">Sans prétendre expliquer le succès du premier film (s'il y avait une recette, cela se saurait), on peut, toutefois,
          noter que, malgré le manque de moyens (le budget était relativement modeste, les acteurs presque inconnus) : </p><br
        />
      </div>
      <div class="col-sm-12">
        <p class="text-style">
          - Il fait appel à des références connues et appréciées des jeunes de l'époque : films de cape et d'épée, westerns, péplums,
          contes de fées et même le Seigneur des Anneaux de J.R.R. Tolkien ; cette œuvre n'apparaît pas comme de la science-fiction
          au sens strict mais plutôt comme du space fantasy.</p><br />
        <p class="text-style">- Les effets spéciaux, supervisés par Ken Ralston, étaient réellement novateurs, avec notamment la participation
          de John Dykstra (qui a également participé au premier film de Star Trek), qui avait développé une nouvelle manière
          d'animer les maquettes des vaisseaux en coordonnant leurs mouvements par ordinateur (Dykstraflex).</p><br />
        <p class="text-style">- Le film a développé un univers cohérent, avec, comme préoccupation constante, autant la création d'une ambiance
          que l'action proprement dite.</p><br />
        <p class="text-style">- La musique, composée par John Williams, introduit des thèmes récurrents et des leitmotivs (procédé classique mais
          renforçant la cohérence).</p><br/>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>